* {
            padding: 0;
            margin: 0;
            font-family: "Bradley Hand", cursive;
            font-size: 20px;
        }

        body {
            background-image: url(../fondo2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            background-attachment: fixed;
        }

        nav {
            width: 80%;
            height: 100px;  
            background-color: rgba(0, 0, 0, 0.7); 
            color: white;           
            padding: 5px 0;  
            margin: auto;
            display: flex; 
            align-items: center; 
        }

        .titulo{
            text-decoration: underline;
            font-size: 25px;
        }
        

        #logo {
            max-width: 150px;   
            max-height: 150px;   
            width: auto;        
            height: auto;
            margin-right: 20px; 
        }

        #nav {
            display: flex;
            align-items: center;
            text-decoration: none;
            list-style-type: none;
            flex-grow: 1; 
        }

        #nav li {
            margin: 0 30px; 
        }

        #nav a {
            text-decoration: none;
            color: white;
        }

        #nav a:hover {
            color: red;
        }

        #content {
            width: 77%;
            max-width: 1200px;
            margin: 100px auto;
            color: white;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #content h1{
            text-decoration: underline;
            font-size: 30px;
            margin-bottom: 10px;
        }

        .texto-contenedor{
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            align-items: center; 
            margin-bottom: 15px; 
        }

        label {
            width: 150px;
            margin-right: 10px;
        }

        input {
            padding: 8px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);;
        }

        img{
            width: 450px;
            height: auto;
            margin-right: 30px;
        }

        #formulario{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        button{
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            margin: 0 45px;
            width: 150px;
            cursor: pointer;
        }

        button:hover {
            color: red;
        }

        footer{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 77%;
            max-width: 1200px;
            margin: 100px auto;
            color: white;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #imagenes img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            padding: 0 40px;
        }

        #imagenes{
            display: flex;
            justify-content: center;
        }

        footer p{
            font-size: 15px;
            margin-bottom: 20px;
        }

        #flecha-arriba {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            cursor: pointer;
            display: none;
        }

        #flecha-arriba img {
            width: 50px;
            height: 50px;
        }

        #rayitas{
            display: none;
            font-size: 35px;
            cursor: pointer;
        }

       @media (max-width: 480px){
            #nav{
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                margin-top: 10px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease;
                justify-content: center;
                align-items: center;
            }

            nav {
                height: 100px;
                width: 85%; 
                justify-content: space-between; 
                position: relative; 
                z-index: 10; 
                transition: height 0.5s ease;
                margin: 0 auto;

            }

            #rayitas {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;
            }

            
            #nav.show {
                max-height: 300px;
                animation: slideDown 0.5s forwards;
            }

            
            #content.move-down {
                margin-top: 200px;
                transition: margin-top 0.5s;
            }

            #imagenes img{
                width: 40px;
                height: 40px;
                padding: 0 10px;
            }

            .texto-contenedor{
                width: 100%;
                margin-bottom: 10px;
            }

            #flecha-arriba{
                bottom: 0;
                right: 0;
            }

            #formulario{
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            label{
                margin: 10px 0;
                margin-right: auto;
            }

            input{
                width: 100%;
                padding: 8px;
                color: white;
                background-color: rgba(0, 0, 0, 0.7);
            }

            #botones{
                display: flex;
                margin-top: 10px;
                justify-content: center;
                align-items: center;
            }

            button{
                width: 100px;
                padding: 8px 12px;
                margin: 0 auto;
            }

             #formulario img {
                display: block; 
                width: 300px;
                margin: 20px auto;
            }

            #flecha-arriba{
                bottom: 0;
                right: 0;
            }

        }

        @media (max-width: 780px){
            #nav{
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                margin-top: 10px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease;
                justify-content: center;
                align-items: center;
            }

            nav {
                height: 100px;
                width: 85%; 
                justify-content: space-between; 
                position: relative; 
                z-index: 10; 
                transition: height 0.5s ease;
                margin: 0 auto;

            }

            #rayitas {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;
            }

            
            #nav.show {
                max-height: 300px;
                animation: slideDown 0.5s forwards;
            }

            
            #content.move-down {
                margin-top: 200px;
                transition: margin-top 0.5s;
            }

            #imagenes img{
                width: 40px;
                height: 40px;
                padding: 0 10px;
            }

            .texto-contenedor{
                width: 100%;
                margin-bottom: 10px;
            }

            #flecha-arriba{
                bottom: 0;
                right: 0;
            }

            #formulario{
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            label{
                margin: 10px 0;
                margin-right: auto;
            }

            input{
                width: 100%;
                padding: 8px;
                color: white;
                background-color: rgba(0, 0, 0, 0.7);
            }

            #botones{
                display: flex;
                margin-top: 10px;
                justify-content: center;
                align-items: center;
            }

            button{
                width: 100px;
                padding: 8px 12px;
                margin: 0 auto;
            }

             #formulario img {
                display: block; 
                width: 400px;
                margin: 20px auto;
            }

            #flecha-arriba{
                bottom: 0;
                right: 0;
            }

        }