* {
			padding: 0;
			margin: 0;
			font-family: "Bradley Hand", cursive;
			font-size: 20px;
		}

		h2, h1{
			font-size: 30px;
			text-decoration: underline;
			margin-bottom: 15px;
		}

		body {
			background-image: url(../fondo.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 100vh;
			background-attachment: fixed;
		}

		nav {
			width: 80%;
    		height: 100px;  
    		background-color: rgba(0, 0, 0, 0.7); 
    		color: white;           
    		padding: 5px 0;  
    		margin: auto;
    		display: flex; 
    		align-items: center;
		}

		#logo {
    		max-width: 150px;   
			max-height: 150px;   
			width: auto;        
			height: auto;
			margin-right: 20px; 
		}

		#nav {
			display: flex;
			align-items: center;
			text-decoration: none;
			list-style-type: none;
			flex-grow: 1;
		}

		#nav li {
			margin: 0 35px; 
		}

		#nav a {
			text-decoration: none;
			color: white;
		}

		#nav a:hover{
			color: red;
		}

		#nav.show {
    		max-height: 300px;
		}


		#content {
    		display: flex;
    		flex-direction: column; 
   		 	align-items: center;
    		width: 77%;
    		max-width: 1200px;
    		margin: 100px auto;
    		padding: 20px;
    		color: white;
    		background-color: rgba(0, 0, 0, 0.7);
		}
	

		article {
    		display: flex;
    		flex-direction: row; 
    		justify-content: space-between; 
    		align-items: flex-start;
    		margin-bottom: 40px;
    		width: 100%;
		}

		.texto-contenedor {
    		display: flex;
    		flex-direction: column; 
    		width: 60%;
		}


		article img {
   			width: 400px;
    		height: auto;
    		align-self: flex-start;
    		padding: 20px;
    		margin-top: 50px;
		}


        .titulo{
            text-decoration: underline;
            font-size: 25px;
        }


		#nuevas {
    		flex-direction: row-reverse;
		}

		footer{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 77%;
            max-width: 1200px;
            margin: 100px auto;
            color: white;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #imagenes img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            padding: 0 40px;
        }

        #imagenes{
            display: flex;
            justify-content: center;
        }

        #rayitas {
    		display: block;
    		font-size: 35px;
    		cursor: pointer;
    	}

        span{
        	color: red;
        }

        footer p{
            font-size: 15px;
            margin-bottom: 20px;
        }

        #flecha-arriba {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            cursor: pointer;
            display: none;
        }

        #flecha-arriba img {
            width: 50px;
            height: 50px;
        }

        #rayitas {
    		display: none;
    		font-size: 35px;
    		cursor: pointer;
    	}

        @media (max-width: 480px){
			#nav{
				display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                margin-top: 10px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease;
                justify-content: center;
			}

			nav {
        		height: 100px; 
        		justify-content: space-between; 
    			position: relative; 
    			z-index: 10; 
    			transition: height 0.5s ease;
    			width: 85%;
    		}

    		#rayitas {
        		display: flex;
        		align-items: center;
        		justify-content: flex-end;
        		padding-right: 10px;
    		}

			
			#nav.show {
    			max-height: 300px;
    			animation: slideDown 0.5s forwards;
			}

			
			#content.move-down {
        		margin-top: 200px;
        		transition: margin-top 0.5s;
    		}

    		#imagenes img{
    			width: 40px;
    			height: 40px;
    			padding: 0 20px;
    		}

    		.texto-contenedor{
    			width: 100%;
    			margin-bottom: 10px;
    		}

    		article{
    			flex-direction: column;
    		}

    		article img{
    			width: 300px;
    			margin: 10px auto;
    		}

    		#nuevas, #productores{
    			flex-direction: column;
    		}
    	}

    	@media (max-width: 780px){
			#nav{
				display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                margin-top: 10px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease;
                justify-content: center;
			}

			nav {
        		height: 100px; 
        		justify-content: space-between; 
    			position: relative; 
    			z-index: 10; 
    			transition: height 0.5s ease;
    			width: 85%;
    		}

    		#rayitas {
        		display: flex;
        		align-items: center;
        		justify-content: flex-end;
        		padding-right: 10px;
    		}

			
			#nav.show {
    			max-height: 300px;
    			animation: slideDown 0.5s forwards;
			}

			
			#content.move-down {
        		margin-top: 200px;
        		transition: margin-top 0.5s;
    		}

    		#imagenes img{
    			width: 40px;
    			height: 40px;
    			padding: 0 20px;
    		}

    		.texto-contenedor{
    			width: 100%;
    			margin-bottom: 10px;
    		}

    		article{
    			flex-direction: column;
    		}

    		article img{
    			width: 400px;
    			margin: 10px auto;
    		}

    		#nuevas, #productores{
    			flex-direction: column;
    		}
    	}