* {
			padding: 0;
			margin: 0;
			font-family: "Bradley Hand", cursive;
			font-size: 20px;
		}

		h2{
			font-size: 30px;
			text-decoration: underline;
		}

		body {
			background-image: url(../fondo.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 100vh;
			background-attachment: fixed;
		}

		nav {
    		width: 80%;
    		height: 100px;  
    		background-color: rgba(0, 0, 0, 0.5); 
    		color: white;           
    		padding: 5px 0;  
    		margin: auto;
    		display: flex; 
    		align-items: center; 
		}

		#logo {
    		max-width: 150px;   
			max-height: 150px;   
			width: auto;        
			height: auto;
			margin-right: 20px; 
		}

		#nav {
    		display: flex;
			align-items: center;
			text-decoration: none;
			list-style-type: none;
			flex-grow: 1; 
		}

		#nav li {
    		margin: 0 32px; 
		}

		#nav a {
    		text-decoration: none;
    		color: white;
		}

		#nav a:hover {
    		color: red;
		}


		#content {
    		display: flex;
    		flex-direction: column; /* Coloca los artículos uno debajo del otro */
   		 	align-items: center;
    		width: 77%;
    		max-width: 1200px;
    		margin: 100px auto;
    		padding: 20px;
    		color: white;
    		background-color: rgba(0, 0, 0, 0.5);
		}
	

		article {
    		display: flex;
    		flex-direction: row; 
    		justify-content: space-between; 
    		align-items: flex-start;
    		margin-bottom: 40px;
    		width: 100%;
		}

		article h2{
			margin-bottom: 15px;
		}

		.texto-contenedor {
    		display: flex;
    		flex-direction: column; 
    		width: 60%;
		}


		article img {
   			width: 400px;
    		height: auto;
    		align-self: flex-start;
    		padding: 20px;
    		margin-top: 50px;
		}


		#nuevas {
    		flex-direction: row-reverse;
		}